################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/MemRepair/v15/.suo
/.vs/MemRepair/v15/Browse.VC.db
/.vs/MemRepair/v15/Browse.VC.opendb
/.vs/ProjectSettings.json
*.json
/.vs/MemRepair/v15/ipch/AutoPCH
